<div>
	<div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary" ui-sref="app.components.usuariosRegistrados">
                <div class="card-body pb-0">
                    <h4 class="mb-0">Usuarios registrados</h4>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
                </div>
            </div>
    </div>
    <div class="col-sm-6 col-lg-3" ui-sref="app.components.tickets">
        <div class="card text-white bg-warning">
            <div class="card-body pb-0">
                <h4 class="mb-0">Tickets</h4>
            </div>
            <div class="chart-wrapper" style="height:70px;">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3"">
        <a href="https://web.whatsapp.com" target="_blank">
        <div class="card text-white bg-success">
            <div class="card-body pb-0">
                <h4 class="mb-0">Abrir Whatsapp</h4>
            </div>
            <div class="chart-wrapper" style="height:70px;">
                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
            </div>
        </div>
      </a>
    </div>
</div>