<div ng-controller="nuevoPlan as plan">
    <h3>Importar archivo</h3>
	<input type="file" name="file" on-read-file="plan.showContent($fileContent)" class="form-control col-5 container addplan" accept=".csv"/>
	<div ng-if="plan.csvData">
      <small>Vista previa:</small>
      <table class="table table-sm">
        <thead class="thead-default">
          <tr>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Contrato</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Imagen</th>
            <th>Precio Equipo</th>
            <th>Precio Plan</th>
            <th>Minutos</th>
            <th>Datos</th>
            <th>SMS</th>
            <th>Redes Sociales Gratis</th>
            <th>Oferta</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in plan.csvData">
            <td>{{item.tipoPlan}}</td>
            <td>{{item.nombrePlan}}</td>
            <td>{{item.contrato}}</td>
            <td>{{item.marcaEquipo}}</td>
            <td>{{item.modeloEquipo}}</td>
            <td>{{item.enlaceImagen}}</td>
            <td>{{item.precioEquipo}}</td>
            <td>{{item.precioPlan}}</td>
            <td>{{item.minutos}}</td>
            <td>{{item.datos}}</td>
            <td>{{item.sms}}</td>
            <td>{{item.redesSociales}}</td>
            <td>{{item.oferta}}</td>
           </tr>
        </tbody>
     </table>
    <button class="btn btn-success" ng-click="plan.sendPlan();">Guardar</button>
    <button class="btn btn-primary" ng-click="plan.cancel();">Cancelar</button>		
  </div>
</div>