<div>
	<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Código de Solicitud</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Correo</th>
      <th>Número Telefónico</th>
      <th>Plan Solicitado</th>
      <th>Plan Vendido</th>
      <th>Empleado encargado</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@mdo</td>
      <td>Larry</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table>
</div>