<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Panel administrativo</a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                Menu de Opciones
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="fa fa-user-plus"></i> Solicitudes</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.solNuevas"><i class="fa fa-plus"></i> Nuevas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.solRealizadas"><i class="fa fa-file-text-o"></i>Realizadas</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.widgets"><i class="fa fa-envelope-o"></i> CRM</a>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.icons')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#"></i><i class="fa fa-volume-control-phone"></i>Planes, equipos y telefonias</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.nuevoPlan"><i class="fa fa-phone"></i> Agregar planes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.fontawesome"><i class="fa fa-phone"></i> Lista de Planes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.simplelineicons"><i class="fa fa-phone"></i> Editar Planes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.fontawesome"><i class="fa fa-phone"></i> Eliminar Planes</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="fa fa-users"></i> Usuarios</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.listaUsuarios"><i class="fa fa-user"></i> Lista de Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.nuevoUsuario"><i class="fa fa-user-plus"></i>Nuevo Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.editarUsuario"><i class="fa fa-user"></i>Editar Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.eliminarUsuario"><i class="fa fa-user-times"></i>Eliminar Usuario</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
